@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

/* styles.css */

.left-image, .right-image {
    width: 20%;
    height: auto;
    position: absolute;
    top: 0;
}

.text-container {
    display: inline-block;
    width: 60%;
    vertical-align: top;
}

.left-image {
    left: 0;
}

.right-image {
    right: 0;
}

#about {
    position: relative;
    padding: 0 20%;
}

body {
    background-color: #F9C4A7;
    font-family: 'Oswald', sans-serif;
    color: #396139;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #E2654E;
    padding: 20px;
}

header .logo {
    width: 50%;
    height: auto;
    margin-bottom: 10px;
}

header h1 {
    margin: 0;
    color: #F9C4A7;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

header p {
    margin: 0;
    color: #F9C4A7;
    text-transform: uppercase;
}

main {
    padding: 20px;
}

h2 {
    font-family: 'Oswald', sans-serif;
    color: #E2654E;
    text-transform: uppercase;
}

.btn {
    display: inline-block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color:  #E2654E;
    color: #F9C4A7;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #E2654E;
    color: #396139;
}

footer {
    background-color: #396139;
    color: #F9C4A7;
    padding: 10px 0;
}

#logos, #menu, #contacts {
    margin: 20px 0;
}

.logo-grid {
    display: grid;
    grid-template-columns: repeat(4, 50%);
    gap: 10px;
    justify-items: center;
}

.logo-grid img {
    width: 100px;
    height: auto;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    height: auto;
}

.logo-grid img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.logo-grid img:hover {
    transform: scale(1.1);
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

a:link {
    font-family: 'Oswald', sans-serif;
    color:  #396139;
}

a:visited {
    font-family: 'Oswald', sans-serif;
    color: #396139;
}

a:hover {
    font-family: 'Oswald', sans-serif;
    color: #396139;
}

a:active {
    font-family: 'Oswald', sans-serif;
    color: #396139;
}

/* Responsive Design */
@media (max-width: 768px) {
    header {
        padding: 10px;
    }

    header .logo {
        width: 20%;
    }

    .btn, .instagram-btn {
        width: 80%;
    }

    .logo-grid {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    header .logo {
        width: 10%;
    }

    .btn, .instagram-btn {
        width: 100%;
    }
}
