@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto:wght@400&display=swap');

image {
    width: 100px;
    height: auto;
}

body {
    background-color: #F9C4A7;
    font-family: 'Roboto', sans-serif;
    color: #396139;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #E2654E;
    padding: 20px;
}

header .logo {
    max-width: 100%;
    display: block;
    width: 90%;
    height: auto;
    margin: 10px auto;
    position: relative;
}

header h1 {
    margin: 0;
    color: #F9C4A7;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

header p {
    margin: 0;
    color: #F9C4A7;
    text-transform: uppercase;
}

main {
    padding: 20px;
}

h2 {
    font-family: 'Oswald', sans-serif;
    color: #E2654E;
    text-transform: uppercase;
}

h3 {
    font-family: 'Oswald', sans-serif;
    color: #396139;
}

.btn {
    display: inline-block;
    margin: auto auto;
    padding: 10px 20px;
    background-color:  #E2654E;
    color: #F9C4A7;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #E2654E;
    color: #396139;
}

footer {
    background-color: #396139;
    color: #F9C4A7;
    padding: 10px 0;
}

#logos, #menu, #contacts {
    margin: 0 0;
}

.logo-grid {
    display: grid;
    max-width: 60%;
    grid-template-columns: repeat(4, 25%);
    gap: 5px;
    margin: auto auto;
    justify-items: center;
}

.logo-grid img {
    width: 128px;
    height: auto;
    margin: 10px;
    max-width: 100%;
    height: auto;
}

.logo-grid img:hover {
    transform: scale(1.25);
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

a:link {
    font-family: 'Oswald', sans-serif;
    color:  #396139;
}

a:visited {
    font-family: 'Oswald', sans-serif;
    color: #396139;
}

a:hover {
    font-family: 'Oswald', sans-serif;
    color: #396139;
}

a:active {
    font-family: 'Oswald', sans-serif;
    color: #396139;
}
